@media (min-width: 1650px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1290px !important;
    }
}
@media (max-width: 1720px) {
    .testimonials-col-main {
        padding: 100px 70px;
    }
    .section-nine {
        overflow: hidden;
    }
}
@media (max-width: 1600px) {
    .menu {
        gap: 40px;
    }
    .menu li span {
        position: absolute;
        top: 10px;
        right: -22px;
    }
    .testimonials-col-main {
        padding: 100px 30px;
    }
}
@media (max-width: 1500px) {
    .nav-actions .call {
        display: none;
    }
    .img-overlay {
        padding: 30px;
    }
}
@media (max-width:1399px) {
    .hero-slider {
        width: 100%;
        height: 900px;
    }
    .lets-us-do {
        font-size: 60px;
        line-height: 70px;
    }
    .home-img-clening {
        position: absolute;
        top: 10px;
    }
    .section-two,
    .section-three,
    .section-four,
    .section-five,
    .section-seven,
    .section-eight,
    .blog-section,
    .about-section-three {
        padding: 70px 0;
    }
    .testimonials-col-main {
        padding: 70px 30px;
    }
    .section-six {
        padding-bottom: 70px;
    }
    .contact-form-section {
        padding: 70px 0 220px;
    }
    .map-iframe {
        margin-top: 70px;
    }
    .calculator-box-main {
        margin-top: 70px;
        margin-bottom: -200px;
    }
    .get-quote-calculator {
        margin-bottom: 0;
    }
    .how-work-step-box {
        display: grid;
        grid-template-columns: 250px auto 250px auto 250px;
        gap: 20px;
    }
    .man-cleaning-home {
        max-width: 40%;
        object-position: left;
    }
    .addees {
        font-size: 20px;
        line-height: 30px;
    }
    .subscribe-section {
        margin-bottom: 70px;
    }
    .projectSlider2 {
        margin-top: 70px;
    }
}
@media (max-width: 1260px) {
    .header-container {
        gap: 40px;
    }
}
@media (max-width: 1230px) {
    .menu li span {
        display: none;
    }
    .for-mobile-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .hamburger {
        display: block;
        z-index: 1002;
        transition: all 0.3s ease;
        width: 50px;
        height: 50px;
        background: #00C2FF;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }
    .hamburger img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
    }
    .logo img {
        width: 150px;
    }
    .mobile-logo {
        display: block;
        max-width: 100%;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: flex-start;
        background: #FFF;
        min-height: 100vh;
        width: 300px;
        padding: 20px;
        overflow: auto;
        transition: left 0.4s ease;
        z-index: 999;
    }
    .dsad {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        z-index: -1;
    }
    .nav.open {
        left: 0;
    }
    .menu {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }
    .menu li {
        width: 100%;
    }
    .menu li a {
        width: 100%;
        padding: 15px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .submenu {
        position: static;
        background: #f5f5f5;
        box-shadow: none;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        padding: 0;
        border-top: none;
        border-radius: 0;
    }
    .dropdown.open .submenu {
        max-height: 500px;
    }
    .submenu li {
        padding: 0;
    }
    .submenu li a {
        padding: 12px 15px;
    }
    .nav-actions .call {
        display: flex;
    }
    .nav-actions {
        flex-direction: column-reverse;
        margin-top: 30px;
        gap: 15px;
        width: 100%;
    }
    .get-quote-btn {
        width: 100%;
        text-align: center;
    }
    .nav-actions .call {
        width: 100%;
    }
    .home-img-clening {
        display: none;
    }
    .main-swiper-row {
        justify-content: center;
        text-align: center;
    }
    .clearfix-space {
        margin-top: 80px;
    }
    .needs-text,
    .lets-us-do,
    .residents {
        text-align: center;
    }
    .cutomer-img-main-text {
        position: unset;
        width: fit-content;
        margin: 30px auto 0 auto;
    }
    .hero-slider {
        width: 100%;
        height: 800px;
    }
    .residents {
        padding-left: 0;
        margin-bottom: 40px;
        border-left: none;
    }
    .sec-text {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 20px;
    }
}
@media (max-width: 1199px) {
    .about-grid-box-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .about-sec-main {
        margin-top: 40px;
        gap: 20px;
    }
    .section-main-text-flex .ornare {
        max-width: 400px;
    }
    .sadas {
        left: 80px;
    }
    .how-work-step-box {
        display: grid;
        grid-template-columns: 210px auto 210px auto 210px;
        gap: 20px;
    }
    .testimonialSlider-swiper-slide {
        padding: 40px;
    }
    .testimonialSlider {
        max-width: 540px;
        margin-left: 0;
        margin-top: 60px;
        border-radius: 20px;
    }
    .adres-main-home {
        display: flex;
        gap: 0px;
        flex-direction: column;
        align-items: flex-start;
    }
    .call-support-text {
        padding-bottom: 5px;
        margin-top: 20px;
    }
    .addees {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    .tel-num {
        font-size: 25px;
        line-height: 35px;
    }
    .get-toch {
        font-size: 38px;
    }
    .subscribe-section {
        flex-direction: column;
        padding: 40px;
        margin-bottom: 50px;
    }
    .updat {
        text-align: center;
    }
    .media-logo-call-footer .call-detl {
        padding: 10px 25px 10px 10px;
    }
    .heroSection {
        padding: 180px 0 80px;
    }
    .team-contact-1 {
        padding: 20px;
    }
    .pricing-row {
        gap: 50px 0;
    }
    .clients-main {
        gap: 25px;
    }
    .all-service-text {
        font-size: 30px;
        line-height: 40px;
        padding: 25px;
    }
    .roofing-services-list-main {
        padding: 25px;
    }
    .card-adds-main {
        margin: 30px 0;
    }
    .adds-details-main h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .overlay-title {
        padding: 0 20px 30px;
    }
}
@media (max-width:991px) {
    .header {
        position: fixed;
        top: 15px;
        width: calc(100% - 30px);
    }
    .hero-slider {
        width: 100%;
        height: 740px;
    }
    .about-img2,
    .about-img3 {
        display: none;
    }
    .cap-text,
    .sec-text,
    .sec-sub-text {
        text-align: center;
    }
    .about-sec-main {
        justify-content: center;
    }
    .sub-img-main {
        margin-top: 50px;
    }
    .section-two,
    .section-three,
    .section-four,
    .section-five,
    .section-seven,
    .section-eight,
    .blog-section,
    .about-section-three {
        padding: 50px 0;
    }
    .section-six {
        padding-bottom: 50px;
    }
    .contact-form-section {
        padding: 50px 0 190px;
    }
    .map-iframe {
        margin-top: 50px;
    }
    .section-main-text-flex {
        gap: 15px;
        flex-direction: column;
    }
    .section-main-text-flex .ornare {
        max-width: 100%;
    }
    .why-choose-row {
        gap: 50px;
    }
    .sadas {
        left: 150px;
    }
    .how-to-work-arrow {
        display: none;
    }
    .how-work-step-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        align-items: start;
    }
    .calculator-box-main {
        padding: 50px;
        margin-top: 50px;
    }
    .calcult-from-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .exper-team-row-home {
        gap: 30px 0;
    }
    .team-circle-main {
        margin: 0 auto;
    }
    .testimonial-section-main {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
    .man-cleaning-home {
        display: none;
    }
    .tryse {
        margin: 0 auto;
    }
    .testimonialSlider {
        width: 100%;
        max-width: 100%;
    }
    .testimonials-col-main {
        padding: 50px 30px;
    }
    .home-blog-row {
        gap: 30px 0;
    }
    .adres-main-home {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .call-support-text {
        text-align: center;
    }
    .tel-num {
        display: block;
        text-align: center;
    }
    .form-sec-row {
        gap: 50px 0;
    }
    .media-logo-call-footer {
        gap: 30px 80px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .copyrights-main {
        padding-bottom: 30px;
        flex-direction: column-reverse;
    }
    .footer-row-quick {
        gap: 30px 0;
    }
    .working-hours {
        padding-bottom: 10px;
    }
    .media-logo-call-footer {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .img-header-text {
        font-size: 45px;
        line-height: 55px;
    }
    .breadcrumb-group {
        margin-top: 15px;
    }
    .heroSection {
        padding: 150px 0 60px;
    }
    .personal-main h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .pricing-row {
        gap: 30px 0;
    }
    .clients-main {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 30px;
    }
    .all-services-row {
        gap: 30px;
        justify-content: center;
    }
    .projectSlider2 {
        margin-top: 50px;
    }
    .project-two-row {
        gap: 30px 0;
    }
    .diamond-nextbtn-head {
        margin-top: 30px;
    }
    .diamond-next-btn {
        margin: 15px 0;
    }
    .all-services-row2 {
        flex-direction: column-reverse;
        align-items: center
    }
    .blog-two-grid-row {
        gap: 30px;
        justify-content: center;
    }
    .single-services-black-box {
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .blog-two-grid-row2 {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media (max-width:767px) {
    .cap-text {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.2px;
    }
    .lets-us-do {
        font-size: 50px;
        line-height: 64px;
    }
    .residents {
        margin-bottom: 28px;
        font-size: 18px;
        line-height: 28px;
    }
    .hero-slider {
        width: 100%;
        height: 650px;
    }
    .clearfix-space {
        margin-top: 60px;
    }
    .sec-text {
        font-size: 35px;
        line-height: 45px;
        padding-bottom: 15px;
    }
    .header {
        padding: 6px 10px;
    }
    .sub-img-main {
        margin-top: 30px;
    }
    .services-slider {
        margin-right: 0;
        margin-top: 30px;
    }
    .cleaning-card {
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .sadas {
        left: 110px;
    }
    .how-work-step-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .calcult-from-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .calculator-box-main {
        padding: 30px 20px;
        margin-top: 30px;
    }
    .send-info {
        max-width: 100%;
    }
    .get-cost-estimate {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .projectSlider,
    .how-work-step-box {
        margin-top: 30px;
    }
    .exper-team-row-home {
        margin-top: 30px;
    }
    .testimonialSlider {
        margin-top: 30px;
    }
    .home-blog-row {
        margin-top: 30px;
    }
    .form-sec-row {
        gap: 30px 0;
    }
    .contact-form-section {
        padding: 50px 0 170px;
    }
    .subscribe-input-main input {
        width: 100%;
        padding: 20px 20px;
        border-radius: 10px;
    }
    .subscribe-input-main {
        padding: 0;
        width: 100%;
        max-width: 570px;
        border-radius: 0;
        flex-direction: column;
        gap: 20px;
        flex-direction: column;
        background: transparent;
    }
    .copyrights-main {
        padding-bottom: 20px;
    }
    .quicklinks-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .call-detl .img-main-call {
        width: 70px;
        height: 70px;
    }
    .contac-form-main {
        padding: 30px 20px;
    }
    .team-single-box {
        margin-bottom: 20px;
    }
    .personal-main h2 {
        margin-bottom: 10px;
    }
    .pricing-row {
        gap: 30px 0;
        margin-top: 30px;
    }
    .pricing-card {
        padding: 30px;
    }
    .clients-main {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-top: 20px;
    }
    #accordionExample {
        margin-top: 30px;
    }
    .services-page-row {
        gap: 30px 0;
    }
    .roofing-services-list-main {
        padding: 20px;
    }
    .all-service-text {
        padding: 20px;
    }
    .layers-img1 {
        margin: 20px 0;
    }
    .ourServicesPrcoes {
        font-size: 28px;
        line-height: 38px;
        padding-top: 20px;
        padding-bottom: 15px;
        text-align: center;
    }
    .your-message-input {
        margin-top: 20px;
    }
    .send-inquiry-form {
        padding: 20px;
    }
    .project-info-main {
        padding: 15px 0;
    }
    .project-info-main p:nth-child(1),
    .project-info-main p:nth-child(2) {
        font-size: 18px;
        line-height: 28px;
    }
    .project-info-text {
        font-size: 29px;
        line-height: 38px;
        margin-bottom: 15px;
    }
    .qoute-box {
        padding: 25px;
    }
}
@media (max-width:575px) {
    .lets-us-do {
        font-size: 40px;
        line-height: 50px;
    }
    .hero-slider {
        width: 100%;
        height: 530px;
    }
    .clearfix-space {
        margin-top: 70px;
    }
    .cutomer-img-main-text {
        display: none;
    }
    .about-sec-main {
        flex-direction: column;
        margin-top: 30px;
    }
    .section-two,
    .section-three,
    .section-four,
    .section-five,
    .section-seven,
    .section-eight,
    .blog-section,
    .about-section-three {
        padding: 30px 0;
    }
    .section-six {
        padding-bottom: 30px;
    }
    .projectSlider2,
    .map-iframe {
        margin-top: 30px;
    }
    .sec-text {
        font-size: 30px;
        line-height: 39px;
    }
    .sadas {
        display: none;
    }
    .services-name {
        font-size: 22px;
    }
    .why-choose-img3 {
        bottom: 0px;
        display: none;
    }
    .why-choose-row {
        gap: 30px;
    }
    .how-work-step-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .how-work-step-box .how-work-step-box-sub h3 {
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 6px;
    }
    .send-info {
        max-width: 100%;
    }
    .project-button-next,
    .project-button-prev,
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .team-circle-link h3 {
        margin-top: 20px;
    }
    .testimonials-col-main {
        padding: 30px 12px;
    }
    .testimonialSlider-swiper-slide {
        padding: 30px;
    }
    .exper-team-row-home {
        gap: 20px 0;
    }
    .cellent {
        font-size: 20px;
        line-height: 32px;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .contact-form-section {
        padding: 30px 0 160px;
    }
    .addees {
        font-size: 18px !important;
        line-height: 30px !important;
    }
    .adres-main-home {
        display: flex;
        gap: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .subscribe-section {
        flex-direction: column;
        padding: 30px;
        margin-bottom: 30px;
    }
    .img-header-text {
        font-size: 40px;
        line-height: 50px;
    }
    button.bottom-top-button {
        right: 18px;
        bottom: 14px;
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
    .breadcrumb-group a {
        font-size: 16px;
        line-height: 26px;
    }
    .breadcrumb-group {
        margin-top: 10px;
    }
    .pricing-card h2,
    .price-box {
        margin-bottom: 0;
    }
    .clients-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        justify-items: center;
    }
    .testimonial-page-row {
        gap: 20px 0;
    }
    .fusce {
        text-align: justify;
    }
    .layers-img {
        width: 100%;
    }
}
@media (max-width:425px) {
    .card-containe {
        padding: 20px;
    }
    .check-box-main-sub h2 {
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 3px;
    }
    .check-box-main-sub {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
    }
    .blog-containe-main {
        padding: 20px;
    }
    .blog-containe-main h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .call-detl .img-main-call {
        display: none;
    }
    .media-logo-call-footer .call-detl {
        padding: 10px 10px 10px 10px;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .call-detl a {
        font-size: 25px;
        line-height: 30px;
    }
    .footer-med-icons-main {
        gap: 10px;
    }
    .sec-text {
        font-size: 28px;
        line-height: 39px;
    }
    .testimonial-page .cellent {
        font-size: 17px;
        line-height: 28px;
        padding-bottom: 20px;
    }
}
@media (max-width:400px) {
    .lets-us-do {
        font-size: 35px;
        line-height: 45px;
    }
    .services-slider {
        margin-right: 0;
    }
    .cleaning-card {
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .video2 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 200px;
    }
}